<a href="https://colab.research.google.com/github/Eddy265/PORTFOLIO-/blob/main/Copy_of_Data_Cleaning_%26_Missing_Values_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Cleaning the Expanded Immobilien Scout 24 Dataset

--- 
After exploring the original dataset and trying to build a predictive model with it, it was discovered that we need more data. Unfortunately we lost access to Immobilien Scout's API so we had to scrape the data. While this worked, the data is quite messy and needs to be cleaned before we can use it. In this exercise you'll clean the remaining of the data.

In [145]:
import numpy as np
import pandas as pd
import plotly.express as px

In [146]:
# Read in dataset
df = pd.read_csv('https://raw.githubusercontent.com/ReDI-School/data-analytics/master/Class%20material/Class-11_Data_cleaning/berlin_housing_with_scraped.csv')
pd.set_option('display.max_columns', 22)

In [147]:
df.drop(columns=['url', 'tags'], inplace=True)

In [148]:
df.head(4)

,region,condition,rooms,rent,year_construction,space,cold_rent,utilities,heating_costs,security_deposit,parking_space,renovated_date,property_condition,furnishing,heating_type,energy_sources,energy_certificate,type_of_certificate,energy_requirement,efficiency_class
0,Mitte,first_time_use,4.0,2659.00,2019,117.20,2.199€,+460€,in,3,120€,NaN,New,NaN,Underfloor Heating,NaN,NaN,Bedarfsausweis,NaN,B
1,Kreuzberg,first_time_use,1.0,1200.00,2020,29.33,"973,51€","+226,49€",in,"2920,53",NaN,NaN,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,NaN,NaN,NaN
2,Köpenick,well_kept,2.0,979.00,1997,83.61,799€,+90€,+90€,Drei,NaN,NaN,Groomed,Normale Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,Verbrauchsausweis Energie­ver­brauchs­kennwert...,NaN,NaN
3,Wilmersdorf,well_kept,4.0,1830.22,1900,171.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
df.shape

(764, 20)

## 0. Before cleaning, print out how many missing values (sorted for readability) each column has:

In [150]:
df.isnull().sum()

region                   0
condition                0
rooms                    0
rent                     0
year_construction        0
space                    0
cold_rent              338
utilities              338
heating_costs          338
security_deposit       379
parking_space          674
renovated_date         569
property_condition     263
furnishing             319
heating_type           249
energy_sources         270
energy_certificate     313
type_of_certificate    297
energy_requirement     438
efficiency_class       513
dtype: int64

## 1. Clean: `heating_type`

Please explain why you choose your strategy for filling the missing values.

In [151]:
df.heating_type.unique()

array(['Underfloor Heating', 'Central Heating', nan, 'District Heating',
       'Floor Heating', 'Gas Heating', 'CHP Plants',
       'Wood Pellet Heating'], dtype=object)

In [152]:
df[df.heating_type.isnull()].head(3)

,region,condition,rooms,rent,year_construction,space,cold_rent,utilities,heating_costs,security_deposit,parking_space,renovated_date,property_condition,furnishing,heating_type,energy_sources,energy_certificate,type_of_certificate,energy_requirement,efficiency_class
3,Wilmersdorf,well_kept,4.0,1830.22,1900,171.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mitte,mint_condition,2.0,1509.45,2015,61.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Friedrichsfelde,first_time_use,3.5,1429.10,2020,82.05,"1.169,14€","+164,09€","+95,87€",3507.42,NaN,NaN,New,Gehobene Qualität,NaN,Fernwärme,NaN,Bedarfsausweis,40 kWh/(m²*a),NaN

# Fill Na with 'Not Provided'

In [153]:
df.fillna({'heating_type': 'Not provided'}, inplace=True)
df.tail(3)

,region,condition,rooms,rent,year_construction,space,cold_rent,utilities,heating_costs,security_deposit,parking_space,renovated_date,property_condition,furnishing,heating_type,energy_sources,energy_certificate,type_of_certificate,energy_requirement,efficiency_class
761,Wilmersdorf,mint_condition,4.0,2750.0,2017,110.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not provided,NaN,NaN,NaN,NaN,NaN
762,Köpenick,well_kept,2.0,1259.0,2017,91.20,NaN,NaN,NaN,NaN,NaN,2017.0,Groomed,Gehobene Qualität,Underfloor Heating,Wärmelieferung Energieausweis liegt vor,liegt vor,Bedarfsausweis,66 kWh/(m²*a),B
763,Neukölln,fully_renovated,2.0,888.0,1990,68.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not provided,NaN,NaN,NaN,NaN,NaN

In [154]:
df.isnull().sum()

region                   0
condition                0
rooms                    0
rent                     0
year_construction        0
space                    0
cold_rent              338
utilities              338
heating_costs          338
security_deposit       379
parking_space          674
renovated_date         569
property_condition     263
furnishing             319
heating_type             0
energy_sources         270
energy_certificate     313
type_of_certificate    297
energy_requirement     438
efficiency_class       513
dtype: int64

In [155]:
px.bar(df.heating_type.value_counts().reset_index(), x='index', y='heating_type')

## 2. Clean: `renovated_date`

# Please explain why you choose your strategy for filling the missing values.
Explanation:
The approach is to fill the missing renovated_year with the mode renovated year in each of the regions. This approach was chosen because it would be logical to assume that the missing values would contain more of the highest occured renovated year in each region.

In [156]:
df.renovated_date.value_counts(dropna=False)

NaN       569
2019.0    121
2020.0     26
2016.0     13
2017.0     12
2018.0     11
2015.0      4
2011.0      2
1995.0      2
2014.0      1
2010.0      1
2006.0      1
2012.0      1
Name: renovated_date, dtype: int64

In [157]:
df.renovated_date.notnull().sum()

195

In [158]:
df.renovated_date.isnull().sum()

569

In [159]:
df.region.unique()

array(['Mitte', 'Kreuzberg', 'Köpenick', 'Wilmersdorf', 'Charlottenburg',
       'Friedrichsfelde', 'Tiergarten', 'Prenzlauer', 'Wedding',
       'Neukölln'], dtype=object)

In [160]:
df.region.value_counts()

Tiergarten         171
Mitte              153
Charlottenburg      79
Neukölln            59
Köpenick            55
Wilmersdorf         53
Prenzlauer          53
Friedrichsfelde     52
Kreuzberg           47
Wedding             42
Name: region, dtype: int64

# Calculate the frequency of renovated_date in each regions

In [161]:
df1 = df[['region','renovated_date']]

In [162]:
df2 = df1.groupby(['region','renovated_date']).size().reset_index()
df2.rename(columns={0:"Count"},inplace=True)
df3 = df2.sort_values(['region','Count'],ascending = [True,False])
df4 = df3.groupby('region').head(1).reset_index(drop=True)
df4

           region  renovated_date  Count
0  Charlottenburg          2019.0      5
1       Kreuzberg          2019.0      4
2        Köpenick          2019.0      9
3           Mitte          2020.0      7
4        Neukölln          2019.0      7
5      Prenzlauer          2019.0      8
6      Tiergarten          2019.0     74
7         Wedding          2018.0      2
8     Wilmersdorf          2019.0      8

# All the renovated date in Friedrichsfelde are missing

In [163]:
df[df['region']=='Friedrichsfelde'].head()

,region,condition,rooms,rent,year_construction,space,cold_rent,utilities,heating_costs,security_deposit,parking_space,renovated_date,property_condition,furnishing,heating_type,energy_sources,energy_certificate,type_of_certificate,energy_requirement,efficiency_class
8,Friedrichsfelde,well_kept,2.0,561.93,1971,62.40,"391,93€",+110€,+60€,Drei,NaN,NaN,Groomed,Normale Qualität,District Heating,Fernwärme Energieausweis liegt vor,liegt vor,Verbrauchsausweis Energie­ver­brauchs­kennwert...,NaN,NaN
16,Friedrichsfelde,first_time_use,3.5,1429.10,2020,82.05,"1.169,14€","+164,09€","+95,87€",3507.42,NaN,NaN,New,Gehobene Qualität,Not provided,Fernwärme,NaN,Bedarfsausweis,40 kWh/(m²*a),NaN
18,Friedrichsfelde,first_time_use,2.0,868.06,2020,49.19,"713,26€","+98,38€","+56,42€",2139.78,NaN,NaN,New,Gehobene Qualität,Not provided,Fernwärme,NaN,Bedarfsausweis,40 kWh/(m²*a),NaN
67,Friedrichsfelde,first_time_use,4.0,1598.00,2016,118.00,1.298€,+300€,nicht,"2600,00",0€,NaN,New,Gehobene Qualität,Underfloor Heating,Fernwärme Energieausweis liegt vor,liegt vor,NaN,NaN,NaN
169,Friedrichsfelde,well_kept,2.0,496.13,1971,55.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not provided,NaN,NaN,NaN,NaN,NaN

# convert the mode renovated year in each region into a list to be used in a function

In [164]:
list_region = [(i[0],i[1]) for i in df4.values]
list_region

[('Charlottenburg', 2019.0),
 ('Kreuzberg', 2019.0),
 ('Köpenick', 2019.0),
 ('Mitte', 2020.0),
 ('Neukölln', 2019.0),
 ('Prenzlauer', 2019.0),
 ('Tiergarten', 2019.0),
 ('Wedding', 2018.0),
 ('Wilmersdorf', 2019.0)]

# def a function to fill the missing renovated year with the mode in each region

In [165]:
df['renovated_date'] = df['renovated_date'].fillna(0.0)

In [166]:
def get_date(row):
  if row['renovated_date'] == 0.0:
    for i in list_region:
      if i[0] == row['region']:
        return i[1]
  return row['renovated_date']

In [167]:
df['renovated_date'] = df.apply(get_date,axis=1)

In [168]:
df['renovated_date'].value_counts(dropna=False)

2019.0    472
2020.0    154
0.0        52
2018.0     49
2016.0     13
2017.0     12
2015.0      4
2011.0      2
1995.0      2
2014.0      1
2010.0      1
2006.0      1
2012.0      1
Name: renovated_date, dtype: int64

# Fill the the region 'Friedrichsfelde', which has no renovated year with the year 2018

In [169]:
def f(row):
  if row['renovated_date'] == 0.0:
    return 2018.0
  return row['renovated_date']

In [170]:
df['renovated_date'] = df.apply(f,axis=1)

# Completed renovated_year column, filled with the mode of each region.

In [171]:
df['renovated_date'].value_counts()

2019.0    472
2020.0    154
2018.0    101
2016.0     13
2017.0     12
2015.0      4
2011.0      2
1995.0      2
2014.0      1
2010.0      1
2006.0      1
2012.0      1
Name: renovated_date, dtype: int64

## 3. Clean: `parking_space`

In [172]:
df.parking_space.value_counts(dropna=False)

NaN       674
120€       20
150€       18
100€       14
130€        5
90€         5
350€        5
0€          4
280€        3
220€        2
75€         2
200€        2
60€         1
119€        1
70€         1
110€        1
145€        1
166,6€      1
180€        1
250€        1
149€        1
140€        1
Name: parking_space, dtype: int64

# Calculate the mean of the non null values

In [173]:
hh = df[['parking_space']]
g = hh[hh['parking_space'].notna()]
f = sum([float(i[0].replace("€","").replace(",",".")) for i in g.values])/len([float(i[0].replace("€","").replace(",",".")) for i in g.values])

In [174]:
f = int(f)

In [175]:
f

139

# Fill na with the mean

In [176]:
df['parking_space'] = df['parking_space'].fillna(f)

# Convert to float

In [177]:
def convert(row):
  if type(row['parking_space']) != int:
    return float(row['parking_space'].replace("€","").replace(",","."))
  return row['parking_space']

In [178]:
df['parking_space'] = df.apply(convert,axis=1)

In [179]:
df.parking_space.value_counts()

139.0    674
120.0     20
150.0     18
100.0     14
130.0      5
90.0       5
350.0      5
0.0        4
280.0      3
220.0      2
75.0       2
200.0      2
60.0       1
119.0      1
70.0       1
110.0      1
145.0      1
166.6      1
180.0      1
250.0      1
149.0      1
140.0      1
Name: parking_space, dtype: int64

## 4. Clean: `utilities`

In [ ]:
df.utilities.value_counts(dropna=False)

NaN         338
+250€        16
+200€        14
+120€        10
keine         9
           ...
+200,13€      1
+560€         1
+410€         1
+356€         1
+63€          1
Name: utilities, Length: 262, dtype: int64

# Replace the string 'Keine' with 0

In [ ]:
df['utilities'] = df.apply(lambda row: "0" if row['utilities'] == "keine" else row['utilities'],axis=1)

In [ ]:
df.utilities.value_counts()

+250€       16
+200€       14
+120€       10
0            9
+350€        7
            ..
+200,13€     1
+560€        1
+410€        1
+356€        1
+63€         1
Name: utilities, Length: 261, dtype: int64

# Calculate the mean of notna values

In [ ]:
a = df[['utilities']]
c = a[a['utilities'].notna()]
ut = sum([float(i[0].replace("€","").replace('.', '').replace(",",".").replace('+', '')) for i in c.values])/len([float(i[0].replace("€","").replace('.', '').replace(",",".").replace('+', '')) for i in c.values])

In [ ]:
ut=int(ut)
ut

223

# Fill Na with the mean

In [ ]:
df['utilities'] = df['utilities'].fillna(ut)

In [ ]:
def convert(row):
  if type(row['utilities']) != int:
    return float(row['utilities'].replace("€","").replace('.', '').replace(",",".").replace('+', ''))
  return row['utilities']

In [ ]:
df['utilities'] = df.apply(convert,axis=1)

In [ ]:
df.utilities.value_counts()

223.00    338
250.00     16
200.00     14
0.00       14
120.00     10
         ...
200.13      1
560.00      1
410.00      1
356.00      1
63.00       1
Name: utilities, Length: 261, dtype: int64

## 5. Clean: `energy_requirement`

In [180]:
df.energy_requirement.value_counts(dropna=False)

NaN                 438
66,2 kWh/(m²*a)      26
61 kWh/(m²*a)        21
75,9 kWh/(m²*a)      20
74,6 kWh/(m²*a)      15
                   ...
56,88 kWh/(m²*a)      1
139 kWh/(m²*a)        1
148,7 kWh/(m²*a)      1
70,3 kWh/(m²*a)       1
51,43 kWh/(m²*a)      1
Name: energy_requirement, Length: 114, dtype: int64

In [181]:
tz=df[['energy_requirement','heating_type']].head()
tz

  energy_requirement        heating_type
0                NaN  Underfloor Heating
1                NaN     Central Heating
2                NaN     Central Heating
3                NaN        Not provided
4                NaN     Central Heating

In [182]:
df.columns

Index(['region', 'condition', 'rooms', 'rent', 'year_construction', 'space',
       'cold_rent', 'utilities', 'heating_costs', 'security_deposit',
       'parking_space', 'renovated_date', 'property_condition', 'furnishing',
       'heating_type', 'energy_sources', 'energy_certificate',
       'type_of_certificate', 'energy_requirement', 'efficiency_class'],
      dtype='object')

# Remove string kWh/(m²*a)

In [183]:
type(str(np.nan))

str

In [184]:
def remove_strings(value, strings_to_remove):
    """
    Remove strings in <strings_to_remove> from <value>. 
    Removes Euro/euro strings by default. 
    Assumes that each string occurs only once.
    """
    
    # return NaN if value is missing
    if pd.isna(value): return np.nan
    
    # cast to string so that string methods work
    value = str(value)
    
    # remove different strings
    for string in strings_to_remove:
        value = value.lower().replace(string, '').strip()
    
    return value

In [187]:
df['energy_requirement'] = df.energy_requirement.apply(remove_strings, args=(['kh/(m²*a)', 'w'],)).astype(str)

In [188]:
df.energy_requirement.unique()

array(['nan', '81,6', '64,2', '66,2', '40', '51', '81', '58', '80', '50',
       '102', '113', '68', '16,3', '76,9', '79', '149', '74', '66,7',
       '61', '118,2', '70', '45,7', '61,7', '60', '116', '35,61', '53',
       '36,61', '34,6', '42,6', '101,19', '61,9', '128,1', '54,9', '69',
       '59,8', '67', '66', '113,7', '74,6', '65,99', '150,4', '70,3',
       '40,41', '148,7', '170', '62,2', '228', '134,5', '76', '77,3',
       '139', '59', '80,5', '56,88', '76,4', '42,8', '28', '54', '70,8',
       '65', '135,9', '163,5', '118', '82,4', '132', '87,8', '158,6',
       '160,8', '155,5', '70,4', '72', '64,1', '30', '62,8', '39,5',
       '49,5', '71,4', '125', '23,3', '104,6', '92', '236,68', '38,5',
       '112', '59,9', '31,4', '157,7', '52,2', '49,2', '48', '100', '55',
       '103', '64,3', '52', '49', '239,2', '60,1', '59,1', '119', '75,9',
       '237,7', '47', '22,8', '42', '62', '71,9', '79,9', '44,5', '83,3',
       '151,8', '51,43'], dtype=object)

# Replace ',' with '.'

In [189]:
def convert_string_to_float(value):
    return value.replace(",", ".")

def convert_decimal(value):
    if pd.isna(value):
        return np.nan       

    try:                               
        return float(value)
    except:
        return convert_string_to_float(value)

In [190]:
df['energy_requirement'] = df.energy_requirement.apply(convert_decimal)

In [191]:
df.energy_requirement.unique()

array([nan, '81.6', '64.2', '66.2', 40.0, 51.0, 81.0, 58.0, 80.0, 50.0,
       102.0, 113.0, 68.0, '16.3', '76.9', 79.0, 149.0, 74.0, '66.7',
       61.0, '118.2', 70.0, '45.7', '61.7', 60.0, 116.0, '35.61', 53.0,
       '36.61', '34.6', '42.6', '101.19', '61.9', '128.1', '54.9', 69.0,
       '59.8', 67.0, 66.0, '113.7', '74.6', '65.99', '150.4', '70.3',
       '40.41', '148.7', 170.0, '62.2', 228.0, '134.5', 76.0, '77.3',
       139.0, 59.0, '80.5', '56.88', '76.4', '42.8', 28.0, 54.0, '70.8',
       65.0, '135.9', '163.5', 118.0, '82.4', 132.0, '87.8', '158.6',
       '160.8', '155.5', '70.4', 72.0, '64.1', 30.0, '62.8', '39.5',
       '49.5', '71.4', 125.0, '23.3', '104.6', 92.0, '236.68', '38.5',
       112.0, '59.9', '31.4', '157.7', '52.2', '49.2', 48.0, 100.0, 55.0,
       103.0, '64.3', 52.0, 49.0, '239.2', '60.1', '59.1', 119.0, '75.9',
       '237.7', 47.0, '22.8', 42.0, 62.0, '71.9', '79.9', '44.5', '83.3',
       '151.8', '51.43'], dtype=object)

In [192]:
df['energy_requirement'].isnull().sum()

438

# Convert value from object to float

In [197]:
def is_float(value):
    try:
        float(value)
        return True
    except:
        return False
def convert_to_float(value):
    if is_float(value):
        return float(value)
    else:
        return np.nan

In [198]:
df['energy_requirement']=df.energy_requirement.apply(convert_to_float)

In [199]:
df.energy_requirement

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
759    61.0
760     NaN
761     NaN
762    66.0
763     NaN
Name: energy_requirement, Length: 764, dtype: float64

# Calculate the mean of the non null values

In [210]:
energy = df[['energy_requirement']]
ave = energy[energy['energy_requirement'].notna()].mean()
ave=ave.round(2)
ave=int(ave)

In [211]:
ave

79

# Fill the missing value with mean

In [212]:
df['energy_requirement']=df['energy_requirement'].fillna(ave)

In [213]:
df['energy_requirement'].value_counts(dropna=False)

79.00     441
66.20      26
61.00      21
75.90      20
74.60      15
         ...
56.88       1
139.00      1
148.70      1
70.30       1
51.43       1
Name: energy_requirement, Length: 113, dtype: int64

In [214]:
df['energy_requirement'].isnull().sum()

0

In [ ]:
#px.histogram(df, x='energy_requirement', marginal='box')

## (Bonus) Clean: `type_of_certificate`

Hint: could two features be created from this data?

As with before, explain why you chose your strategy :)

In [ ]:
df.type_of_certificate.value_counts(dropna=False)

Bedarfsausweis                                                                                            336
NaN                                                                                                       297
Verbrauchsausweis Energie­ver­brauchs­kennwert 98,5 kWh/(m²*a)                                              8
Verbrauchsausweis End­energie­verbrauch 204,3 kWh/(m²*a)                                                    7
Verbrauchsausweis Energie­ver­brauchs­kennwert 92 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten      5
                                                                                                         ...
Verbrauchsausweis Energie­ver­brauchs­kennwert 136,3 kWh/(m²*a)                                             1
Verbrauchsausweis Energie­ver­brauchs­kennwert 144,2 kWh/(m²*a)                                             1
Verbrauchsausweis Energie­ver­brauchs­kennwert 139 kWh/(m²*a)                                               1
Verbrauchsausweis End­energie­verbrauch 177,5 kWh/(m²*a)                                                    1
Verbrauchsausweis Energie­ver­brauchs­kennwert 91,4 kWh/(m²*a)                                              1
Name: type_of_certificate, Length: 86, dtype: int64

In [ ]:
df['type_of_certificate']=df['type_of_certificate'].fillna(0)

In [ ]:
df['type_of_certificate'] = df['type_of_certificate'].str.replace(r'\D', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning:

The default value of regex will change from True to False in a future version.

In [ ]:
df.type_of_certificate.unique()

array(['', nan, '985', '84', '1717', '74', '109', '1208', '2043', '215',
       '2182', '120', '2195', '53', '113', '10467', '132', '163', '1281',
       '70', '1264', '80', '101', '653', '1239', '123', '1444', '7834',
       '562', '136', '92', '1587', '125', '97', '121', '1129', '102',
       '209', '144', '1051', '105', '1363', '1442', '139', '1775',
       '12851', '62', '1469', '19292', '126', '7282', '8798', '128',
       '1708', '1038', '937', '148', '1468', '634', '986', '174', '1725',
       '1309', '6621', '819', '64', '1161', '141', '197', '186', '131',
       '654', '974', '2075', '1879', '825', '89', '1191', '86', '914'],
      dtype=object)

In [ ]:
df.type_of_certificate.isnull().sum()

297

In [ ]:
df.type_of_certificate.unique()

array(['', nan, '985', '84', '1717', '74', '109', '1208', '2043', '215',
       '2182', '120', '2195', '53', '113', '10467', '132', '163', '1281',
       '70', '1264', '80', '101', '653', '1239', '123', '1444', '7834',
       '562', '136', '92', '1587', '125', '97', '121', '1129', '102',
       '209', '144', '1051', '105', '1363', '1442', '139', '1775',
       '12851', '62', '1469', '19292', '126', '7282', '8798', '128',
       '1708', '1038', '937', '148', '1468', '634', '986', '174', '1725',
       '1309', '6621', '819', '64', '1161', '141', '197', '186', '131',
       '654', '974', '2075', '1879', '825', '89', '1191', '86', '914'],
      dtype=object)

In [ ]:
df['Name'] = df['Name'].map(lambda x: ''.join([i for i in x if i.isdigit()]))

KeyError: ignored

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3>
<h3><input type="checkbox"> 2. Does all code run through? <br></h3>
<h3><input type="checkbox"> 3. Are explanations of fill strategy provided for all relevant questions?  <br></h3>
<h3><input type="checkbox"> 4. Are different strategies used for continuous vs categorical data?  <br></h3>
<h3><input type="checkbox"> 5. Is the bonus question answered?  <br></h3>