In [70]:
import pandas as pd
from pathlib import Path
import statistics
import matplotlib.pyplot as plt
import numpy as np
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from datetime import timedelta
import plotly.express as px

In [71]:
df=pd.read_csv('C:/Users/euzoe/OneDrive/Desktop/Logistics/ARCHIVE/Office_oct_nov.csv')

In [72]:
df.head()

,DATE,SENDERS NAME,PHONE NUMBER,RECEIVERS NAME,PHONE NUMBER4,PICK UP ADDRESS,DELIVERY ADDRESS,DELIVERY CONFIRMATION,AMOUNT,PAYMENT TYPE,REVIEW,DISPATCH RIDER,ITEM,COMMENT
0,01.10.2021,Nnenna,7.09E+09,Uche,7.09E+09,Trade fair,Adesanya,Delivered,3000.0,Bank Transfer,5.0,Kelvin,Jewelry,NaN
1,01.10.2021,Nnenna,7.09E+09,Uche,7.09E+09,Oke Aro,Adesanya,Delivered,3000.0,Bank Transfer,5.0,Kelvin,Cloth,NaN
2,01.10.2021,Hero,N,Chroma,8.05E+09,Bariga,Abule oja,Delivered,800.0,Bank Transfer,5.0,Edet,Zobo Drink,NaN
3,02.10.2021,Deborah,N,Kabira,9.02E+09,Ojodu Berger,Ikorodu,Delivered,2000.0,Bank Transfer,5.0,Eze,Materia,NaN
4,02.10.2021,Deladina yorgut parafit,8.06E+09,Ogechi,9.04E+09,Allen Ikeja,Ikosi ketu,Delivered,1000.0,Bank Transfer,5.0,Kelvin,Parafit,NaN

In [73]:
df.shape

(372, 14)

In [74]:
df.isnull().sum()

DATE                       3
SENDERS NAME               3
PHONE NUMBER              11
RECEIVERS NAME            17
PHONE NUMBER4             15
PICK UP ADDRESS            6
DELIVERY ADDRESS           8
DELIVERY CONFIRMATION      8
AMOUNT                     6
PAYMENT TYPE              10
REVIEW                    19
DISPATCH RIDER             7
ITEM                      23
COMMENT                  367
dtype: int64

In [75]:
df=df.dropna()

In [76]:
df.isnull().sum()

DATE                     0
SENDERS NAME             0
PHONE NUMBER             0
RECEIVERS NAME           0
PHONE NUMBER4            0
PICK UP ADDRESS          0
DELIVERY ADDRESS         0
DELIVERY CONFIRMATION    0
AMOUNT                   0
PAYMENT TYPE             0
REVIEW                   0
DISPATCH RIDER           0
ITEM                     0
COMMENT                  0
dtype: int64

In [81]:
df.rename(columns={'DISPATCH RIDER':'RIDER'}, inplace=True)

In [82]:
df.RIDER.unique()

array(['Eze', 'Edet', 'Gabriel'], dtype=object)

In [78]:
df.RIDER.value_counts()

Eze        3
Edet       1
Gabriel    1
Name: RIDER, dtype: int64

In [47]:
a=9,90,6,7,5,846,5,5

In [48]:
sum(a)

973

In [49]:
ave=sum(a)/len(a)
ave

121.625